<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form id="ing-search"> 
<input type="text" placeholder="enter a ingredient" id="searchTerm" />
<input type="submit" /> 
</form>

<div id="contain">
    
</div>
